<form [formGroup] = "CustomerModel.formCustomerGroup">
<h1>Add Customer</h1>
Customer Code
<input [(ngModel)] ="CustomerModel.customerCode" formControlName = "customerNameControl" type="text"/><br><br>
Customer Name
<input [(ngModel)] ="CustomerModel.customerName" formControlName = "customerCodeControl" type="text"/><br><br>
Customer Amount
<input [(ngModel)] ="CustomerModel.customerAmount" formControlName = "customerAmountControl" type="text"/><br><br>
<input [disabled] ="!(CustomerModel.formCustomerGroup.valid)"  type="button" value="Add Customer" (click) ="Add()" />
<br><br>
</form>
<h2>Customer List</h2>
<!-- <table>
  <thead>
    <tr>
      <th>
        Customer Code 
      </th>
      <th>
        Customer Name 
      </th>
      <th>
        Customer Amount 
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cust of CustomerModels">
      <td> {{cust.CustomerCode}}</td>
      <td>{{cust.CustomerName}}</td>
      <td>{{cust.CustomerAmount}}</td>
      <td><input type="button" value="Edit" (click) ="Edit()" />&nbsp;<input type="button" value="Delete" (click) ="Delete()" /></td>
    </tr>
  </tbody>
</table>  -->
<app-grid-ui [grid-columns]="[{'colName':'id'},{'colName':'customerCode'},{'colName':'customerName'},{'colName':'customerAmount'}]" 
[grid-data]="CustomerModels" (grid-selected) ="Edit($event)" (grid-deleted) ="Delete($event)" ></app-grid-ui>