Customer Code
<input [(ngModel)] ="CustomerModel.CustomerCode" type="text"/>
Customer Name
<input [(ngModel)] ="CustomerModel.CustomerName" type="text"/>
Customer Amount
<input [(ngModel)] ="CustomerModel.CustomerAmount" type="text"/>
<input type="button" value="Add Customer" (click) ="Add()" />

<table>
  <thead>
    <tr>
      <th>
        Customer Code 
      </th>
      <th>
        Customer Name 
      </th>
      <th>
        Customer Amount 
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cust of CustomerModels">
      <td> {{cust.CustomerCode}}</td>
      <td>{{cust.CustomerName}}</td>
      <td>{{cust.CustomerAmount}}</td>
      <td><input type="button" value="Edit" (click) ="Edit()" />&nbsp;<input type="button" value="Delete" (click) ="Delete()" /></td>
    </tr>
  </tbody>
</table>